.login__img {
  background-image: url(../../../../assets/img/background_login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: brightness(40%);
}
