.caja {
  display: grid;
  grid-template-rows: 1.35fr 2fr;
  grid-gap: 20px;
  height: 93vh;
  overflow: auto;

  &-uno {
    display: grid;
    grid-template-columns: 2fr 0.85fr;
    grid-column-gap: 20px;
    //margin-right: 20px;
    //margin-left: 20px;
    &_uno {
      display: grid;
      grid-template-rows: 1.5fr 2fr 1fr;
      border-radius: 1px;
      background-color: #d9d9d9;
      &-usuario {
        display: grid;
        grid-template-columns: 5fr 1fr;
        align-items: center;
        margin-left: 20px;
        color: #003862;
        .estado {
          display: flex;
          justify-content: center;
          margin-top: 5px;
          border-radius: 10px;
          font-size: 10px;
          width: 70px;
        }
        h1 {
          font-size: 20px;
          font-weight: bold;
        }
        button {
          display: flex;
          gap: 5px;
          font-size: 13px;
          color: #1ec468;
          background-color: transparent;
        }
      }
      &-form {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1.8fr 1.2fr 1.5fr;
        margin: 6px 20px 0px 20px;
        height: 14vh;
        border-color: #000000b6;
        border-width: 0.1px !important;
        label {
          display: flex;
          margin-left: 8px;
          color: #000;
        }
        input {
          height: 5vh;
          min-width: 2vh;
          margin: 0 1vh 0 1vh;
          border-width: 0.5px;
          border-color: #000;
          background-color: #d9d9d9;
          min-width: 15vh;
        }
      }
      &-botones {
        padding-right: 20px;
        display: flex;
        gap: 20px;
        justify-content: end;
        button {
          width: 20vh;
          border-radius: 3px;
        }
      }
    }
    &_dos {
      display: grid;
      grid-template-rows: 2fr 0.5fr;
      border-radius: 5px;
      background-color: #d9d9d9;
      &-tabla {
        tr {
          border-radius: 0;
          .css-1ygcj2i-MuiTableCell-root {
            font-weight: bold;
          }
          th {
            padding: 1.25vh;
            border-color: #000;
            text-align: center;
          }
        }
      }
      &-botones {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        button {
          width: 20vh;
          border-radius: 3px;
        }
      }
    }
  }
  &-dos {
    display: grid;
    border-radius: 5px;
    background-color: #003862;
    //margin-right: 20px;
    //margin-left: 20px;
    .nombre-tabla {
      margin-left: 10px;
      color: #003862;
      font-size: 2.5vh;
      font-weight: bold;
    }
    tr {
      td {
        padding-left: 7vh;
      }
    }
  }
  .css-5ffwq2-MuiPaper-root-MuiTableContainer-root {
    background-color: #d9d9d9;
  }
}
// :where(.css-dev-only-do-not-override-128z1ng).ant-modal .ant-modal-content {
//   height: 50vh;
//   display: grid;
//   grid-template-rows: 0.3fr 2fr 0.3fr;
// }
// :where(.css-dev-only-do-not-override-128z1ng).ant-modal .ant-modal-body {
//   border-top-width: 1px;
//   button {
//     background-color: #1ec468;
//   }

//   .hola {
//     display: grid;
//     grid-template-rows: 2fr 2fr 2fr;
//     margin-top: 10px;
//     .space-y-2 {
//       display: flex;
//       flex-direction: column;
//       margin-bottom: 15px;
//       input {
//         border-radius: 0px;
//       }
//       label {
//         display: flex;
//       }
//     }
//   }
// }
// :where(.css-dev-only-do-not-override-128z1ng).ant-modal .ant-modal-header {
//   display: flex;
//   background-color: #003862;
// }
// :where(.css-dev-only-do-not-override-128z1ng).ant-modal .ant-modal-footer {
//   display: none;
//   padding: 0;
//   margin: 0;
// }
//Tabla de gastos
