.menu__li {
  li {
    //   background-color: black !important;
    border-style: solid !important;
    border-top-width: 1px;
    border-color: #c1c1c1 !important;
    margin: 0 !important;
    width: 100% !important;

    div {
      margin: 0 !important;
      width: 100% !important;
      //   background-color: black !important;
      //   border-style: solid !important;
      //   border-top-width: 1px;
      //   border-bottom-width: 1px;
      //   border-color: #c1c1c1 !important;
    }
  }
}
