.menu-lateral {
  display: grid;
  grid-template-columns: 1fr 100fr;

  &__boton {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  .ant-menu-inline {
    width: 27vh;
    min-width: 220px;
  }

  .ant-menu-vertical {
    width: 81px;
  }

  .ant-menu-item-danger {
    border-style: solid !important;
    border-top: 1px;
    border-bottom: 1px;
    border-color: rgba(255, 108, 108, 0.431) !important;

    &:hover {
      background-color: rgb(254, 240, 240) !important;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: auto 25fr;
  }
}
