:where(.css-dev-only-do-not-override-1paxfrs).ant-badge .ant-badge-count {
  transform: translate(-80%, 100%);
  color: transparent;
  min-width: 15px;
  height: 15px;
}

:where(.css-dev-only-do-not-override-1paxfrs).ant-badge .ant-badge-count {
  box-shadow: 0 0 0 2.5px #003862;
}
