.pagos {
  height: 94vh;
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  margin-top: 0;
  margin: 0 15px 0 15px;
  overflow: auto;
  //margin: 10px;

  &-alumno {
    display: grid;
    grid-template-rows: 1.8fr 2.2fr 3fr;
    background-color: #001f36;
    &_foto {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_datos {
      display: grid;
      grid-template-rows: 3.5fr 3fr 3fr 3fr 3fr;
      color: #fff;
      border-bottom-width: 0.3px;
      h2 {
        margin-left: 25px;
      }
      &-nombres {
        //font-size: 2.5vh;
        background-color: #a29c9c7f;
        border-bottom-width: 0.3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-año {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    &_botones {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      button {
        border-radius: 1px;
        background-color: #344a5f;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 6px;
        width: 44vh;
      }
      &-informacion {
        border-bottom-width: 0.3px;
        button {
          margin-top: 8px;
          background-color: #00863c;
          width: 91%;
        }
      }
    }
  }
  &-dato {
    background-color: #315673;
    display: grid;
    grid-template-rows: 8.5fr 2fr fr;
    gap: 10px;
    &_uno {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      :where(.css-dev-only-do-not-override-128z1ng).ant-picker
        .ant-picker-input
        > input {
        width: 25vh;
        height: 4.5vh;
        margin: 0;
        padding: 0;
        color: #000;
      }
      input {
        border-radius: 2px;
        background-color: #fcfdff;
        height: 5.5vh;
      }
      label {
        color: #fcfdff;
      }
      &-uno {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 30px 25px 0 25px;
        button {
          border-radius: 2px;
        }
      }
      &-dos {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 30px 25px 0 25px;
        button {
          border-radius: 2px;
        }
      }
      &-tres {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 27px 25px 0 25px;
        button {
          border-radius: 2px;
        }
      }
    }
    &_dos {
      margin: 0 25px 0 25px;
      input {
        border-radius: 2px;
        background-color: #fcfdff;
      }
      label {
        color: #fcfdff;
      }
    }
    &_tres {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      button {
        margin-top: 0px;
        width: 35vh;
        border-radius: 2px;
        background-color: #00863c;
      }
    }
  }
}
