.pagos {
  height: 94vh;
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  margin-top: 0;
  margin: 0 15px 0 15px;

  overflow: auto;
  //margin: 10px;

  &-alumno {
    display: grid;
    grid-template-rows: 1.8fr 2.2fr 3fr;
    background-color: #001f36;
    &_foto {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_datos {
      display: grid;
      grid-template-rows: 3.5fr 3fr 3fr 3fr 3fr;
      color: #fff;
      border-bottom-width: 0.3px;

      h2 {
        margin-left: 25px;
      }
      &-nombres {
        //font-size: 2.5vh;
        background-color: #a29c9c7f;
        border-bottom-width: 0.3px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-año {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
    &_botones {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      button {
        border-radius: 1px;
        background-color: #344a5f;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 6px;
        width: 44vh;
      }
      &-informacion {
        border-bottom-width: 0.3px;
        button {
          margin-top: 8px;
          background-color: #00863c;
          width: 91%;
        }
      }
    }
  }
  &-dato {
    background-color: #e5e9ec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    label {
      font-size: 12px;
    }
    //Diseño mejorado
    &_body {
      display: grid;
      grid-template-rows: 1fr 0.3fr 1.5fr 0.3fr;
      background-color: #fff;
      height: 95%;
      width: 95%;
      border-width: 2px;

      input {
        color: #000;
        height: 4vh;
        font-size: 10px;
        border-width: 1.5px;
        border-radius: 1px;
        border-color: #888a90;
      }

      &-titulo {
        display: grid;
        grid-template-columns: 2fr 1.3fr;

        &-colegio {
          display: grid;
          justify-content: center;
          align-items: center;
          grid-template-columns: 1fr 2fr;
          img {
            margin-left: 15px;
            height: 80%;
            width: 90%;
          }
          &_datos {
            h2 {
              font-size: 100%;
              font-weight: bold;
            }
            p {
              font-size: 75%;
            }
          }
        }
        &-recibo {
          display: flex;
          justify-content: center;
          align-items: center;
          &_datos {
            display: flex;
            flex-direction: column;
            padding-top: 5%;
            align-items: center;
            height: 70%;
            width: 80%;
            border-style: dashed;
            border-width: 1px;
            border-color: #000;
            h2 {
              font-weight: bold;
              font-size: 13.8px;
            }
            input {
              height: 5vh;
              width: 25vh;
              text-align: center;
              font-weight: bold;
            }
          }
        }
      }

      //DATOS PAGANTES
      &-pagante {
        display: grid;
        gap: 10px;
        grid-template-rows: 1fr 1fr;
        padding: 0 10px 0 10px;
        input {
          color: #000;
          height: 4vh;
          font-size: 10px;
          border-width: 1.5px;
          border-radius: 1px;
          border-color: #888a90;
        }
        &-uno {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
        }
        &-dos {
          display: grid;
        }
      }

      &-recibo {
        display: grid;
        grid-template-rows: 1fr 2fr 3fr;

        &-date {
          display: grid;
          grid-template-columns: 1fr 1fr;
          section {
            display: flex;
            justify-content: center;

            input {
              color: #000;
              height: 4vh;
              font-size: 10px;
              border-width: 1.5px;
              border-radius: 1px;
              border-color: #888a90;
            }
          }
        }

        &-table {
          margin: 0 10px 0 10px;

          &-uno {
            display: grid;
            grid-template-columns: 0.5fr 1fr 3fr 1fr 1.5fr;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            background-color: #003862;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
          }
          &-dos {
            display: grid;
            grid-template-columns: 0.5fr 1fr 3fr 1fr 1.5fr;
            font-size: 12px;
            font-weight: bold;
          }
        }
        &-montos {
          display: flex;
          justify-content: space-between;
          margin-right: 10px;
          padding-bottom: 10px;
          border-bottom-width: 2px;
          button {
            color: #000;
            height: 4vh;
            font-size: 10px;
            border-width: 1.5px;
            border-radius: 1px;
            border-color: #888a90;
          }
          .space-y-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            label {
              display: flex;
              justify-content: end;
              margin-right: 10px;
              width: 30vh;
              font-size: 12px;
              font-weight: normal;
            }
          }
          &-cerouno {
            display: flex;
            justify-content: end;
            margin-right: 10px;
            padding-bottom: 10px;
            border-bottom-width: 2px;
            .space-y-2 {
              display: flex;
              justify-content: center;
              align-items: center;
              label {
                width: 20vh;
                font-size: 12px;
                font-weight: normal;
              }
            }
            .space-y-0 {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 10px;
              font-size: 12px;
              margin: 5px 0 5px 0;
              p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
              }
              label {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 20vh;
                font-size: 12px;
                font-weight: normal;
              }
            }
            &-uno {
              display: grid;
              grid-template-rows: repeat(4, 1fr);
              justify-content: center;
              align-items: center;
              font-size: 12px;
              margin-right: 10px;
              p {
                text-align: end;
              }
            }
            &-dos {
              display: grid;
              grid-template-rows: repeat(4, 1fr);
              justify-content: center;
              align-items: center;
              .space-y-2 {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              h2 {
                font-size: 12px;
              }
            }
          }
        }

        &-botones {
          display: flex;
          justify-content: end;
          align-items: center;
          margin-right: 10px;
          button {
            background-color: #307ab9;
            height: 4vh;
            border-radius: 0;
            font-weight: normal;
            color: #fff;
          }
        }
      }
    }
  }
}
.inputs-font {
  font-size: 12px;
  display: flex;
  //padding-left: 1vh;
  gap: 0px;
  align-items: center;
  border-width: 1px;
  border-color: #888a90;
  color: #888a90;
  input {
    border: 0;
    height: 2.5vh;
    width: 44vh;
    margin-bottom: 4px;
    margin-top: 0;
    padding-bottom: 10px;
  }
  input:focus {
    outline: none; /* Elimina el borde por defecto */
    box-shadow: none; /* Elimina el sombreado */
  }
  .direccion {
    padding-bottom: 0;
  }
  button {
    border-radius: 0;
    height: 4.2vh;
    font-size: 12px;
    margin-left: 0;
    color: #fff;
  }
}
.ant-picker-outlined.ant-picker-disabled {
  margin-left: 10px;
  font-size: 12px;
  border-radius: 1px;
  color: #000;
  height: 4vh;
  display: flex;
  padding-left: 1vh;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-color: #888a90;
  color: #888a90;
}
:where(.css-dev-only-do-not-override-128z1ng).ant-picker
  .ant-picker-input
  > input {
  font-size: 12px;
}
.comprobante {
  display: flex;
  place-items: center;
  gap: 1px;
  button {
    width: 14.5vh;
    border-width: 0;
  }
  .focus\:ring-ring:focus {
    --tw-ring-color: transparent; /* O cualquier otro valor que desees */
  }
}

@media (max-width: 1450px) {
  .pagos-dato_body {
    input {
      width: 100%;
    }
  }
}

@media (max-width: 1300px) {
  .pagos-dato_body-recibo-table-uno {
    font-size: 60%;
  }
}
@media (max-width: 1200px) {
  .pagos-dato_body-recibo-table-uno {
    font-size: 40%;
  }
}
