/* Composite de panel */
.conteiner{
    position: relative;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    height:100vh;
    overflow: auto;
    background-color: #D9D9D9;
    padding-bottom: 40px;
    label{
        color: #fff;
    }
}

/* Composite panel superior */
.Panel-superior{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
}

.datos-estudiante{
    display: grid;
    grid-template-columns: 1fr 3fr;

}

/*fotografia */
.foto{  
    width: 32vh !important;
    height: 32vh !important ;
    margin-left: 7px;
    display: flex;
    background-color: #003862;
}
.imp{
    display: flex;
    width: 30vh !important;
    margin-top: 30px;
    margin-left: 4vh;
    button{
        height: 3.5vh;
        width: 17vh;
        border-radius: 3px;
        margin-left: 8px;
        font-size: x-small;
    }
}

.datos{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.datos2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.datos-familiar{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.datos-familiar2{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.datos-familiar3{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
/* DATOS FAMILIAR */

.input{
    border-radius: 4px !important;
    height: 4vh !important;
    color: black;
}
.conteiner-general button{
    border-radius: 2px;
    color:black;
}
.aspect-square {
    border-radius: 10px !important    ;
    background-color: white;
}

:where(.css-dev-only-do-not-override-1paxfrs).ant-picker .ant-picker-input >input{
    display: flex ;
    height: 4.8vh;
    width: 10.4vw;
}

.fn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.BR{
    position: relative;
    left: 55vw;
}
.ButtonBR{
    width: 15vw;
    height: 7vh;
}

/* FAMILIAR EXTRA */

.contenido-extra{
    display: grid;
    grid-template-columns: 32fr 1.2fr;
    align-items: center;
}
.extra{
    display: flex;
    align-items: center;
}
.extra::before,
.extra::after{
    content: "";
    border-bottom: 1px solid white;
}
.extra::before {
    flex: 1; 
    margin-right: 10px;
}

.extra::after {
    flex: 20; 
    margin-left: 10px;
}
.select__control{
   height: 6vh !important;
}
.sp{
    padding-bottom: 1.45vh;
}
.ant-picker{
    width: 11.2vw !important;
}