.ant-modal {
  &-content {
    background-color: #003862 !important;
    opacity: 0.85;
    border-radius: 0px !important;
    padding: 2.3vh !important;
    height: 25vh;
  }

  &-title {
    color: white !important;
    text-align: center;
    background-color: #003862 !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
  }

  &-body {
    display: flex !important;
    height: 8vh !important;
    max-height: 8vh;
    color: white !important;
    justify-items: center !important;
    justify-content: center !important;
    text-align: center;

    p {
      font-weight: lighter;
      padding: 0 3vh;
      font-size: small;
    }
  }

  &-footer {
    margin-top: 1vh !important;
    text-align: center !important;
    margin-bottom: 1vh;
  }

  .ant-btn {
    width: 12vh;
    height: 5vh;
    font-size: 1.8vh;
    border: none !important;
    font-weight: 500;
    border-radius: 3px !important;

    &:nth-child(1) {
      color: white;
      background-color: #f53151;
      margin-right: 10px !important;

      &:hover {
        background-color: #f64d69;
        color: rgb(237, 227, 213);
      }
    }

    &:nth-child(2) {
      color: white;
      background-color: #1ec468;
      margin-left: 10px !important;

      &:hover {
        background-color: #50cb88;
        color: rgb(248, 245, 240);
      }
    }
  }
}

.modal-simple {
  p {
    font-weight: lighter;
    padding: 0 3vh;
    font-size: medium;
  }

  .ant-btn {
    &:nth-child(1) {
      display: none;
    }
  }
}

.modal-carga {
  p {
    font-weight: lighter;
    padding: 0 3vh;
    font-size: medium;
    position: relative;
  }

  .ant-modal-body {
    display: flex;
    height: 16vh;
    max-height: 16vh;
    justify-content: center;
    align-items: center;
  }
}

.modal-sucess {
  p {
    font-weight: lighter;
    padding: 0 3vh;
    font-size: medium;
  }

  .ant-modal-body {
    display: none !important;
  }

  .ant-modal-footer {
    padding: 5vh 0;
    max-height: 20vh;
  }

  .ant-btn {
    &:nth-child(1) {
      display: none;
    }
  }
}

.modal-permiso {
  //background-color: #003862;

  p {
    font-weight: lighter;
    padding: 0 3vh;
    font-size: medium;
  }

  .ant-modal-body {
    margin-top: 2vh;
    label {
      color: #fff;
    }
    input {
      color: #000;
      height: 5vh;
      width: 40vh;
    }
  }

  .ant-modal-footer {
    padding: 6vh 0;
    max-height: 20vh;
  }
}

.modal-error {
  p {
    font-weight: lighter;
    padding: 0 3vh;
    font-size: medium;
  }

  .ant-btn {
    &:nth-child(2) {
      display: none;
    }
  }
}
