.usario-datos {
  background-color: #001f36;
  color: #fff;
  padding: 5px;
  box-sizing: border-box; /* Ajusta el tamaño del box para incluir el padding */
  overflow-y: auto;
  margin: 9px;
  align-self: flex-end;
  height: 35vh;

  &_perfil {
    background-color: #001f36;
    color: #fff;
    padding: 5px;
    box-sizing: border-box; /* Ajusta el tamaño del box para incluir el padding */
    margin: 9px;
    align-self: flex-end;
    height: 16vh;

    input {
      background-color: #d9d9d9;
      border: 0px;
      width: 100%; /* Hace que el input ocupe todo el ancho disponible */
      box-sizing: border-box; /* Ajusta el tamaño del box para incluir el padding */
      color: #000;
      font-size: 15px;
      height: 33px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }

    button {
      color: #000;
      background-color: #d9d9d9;
      border-radius: 0;
      width: 100%;
      height: 33px;
    }
    h2 {
      //text-decoration: underline;
      margin-left: 8px;
    }
  }
  h2 {
    //text-decoration: underline;
    margin-left: 8px;
  }

  //Componentes del primer sector "DATOS PERSONALES"
  &_nombres {
    display: flex;
    justify-content: space-between;
    margin: 1px;
    padding-left: 8px;
    padding-right: 8px;
    .space-y-2 {
      width: 49vh;
      label {
        color: #fff;
        font-size: 15px;
        font-weight: normal;
      }
      .radio-label {
        padding-top: 0px;

        div {
          justify-content: space-around;
        }
        button {
          color: #004b82;
          background-color: #ffffff;
          border-radius: 100px;
          width: 20px;
          height: 20px;
        }
        label {
          font-size: 16px;
        }
      }
    }

    &-edad {
      display: flex;
      width: 49vh;
      box-sizing: border-box;
      margin: 1px;
      justify-content: space-between;
      .space-y-2 {
        .MuiStack-root {
          overflow: hidden;
          padding-top: 0px;
        }
        :where(.css-dev-only-do-not-override-usln0u).ant-picker {
          border-radius: 0;
          background-color: #d9d9d9;
          width: 22vh;
          height: 33px;
          span {
            color: #000;
          }
        }
      }
    }
  }
  input {
    background-color: #d9d9d9;
    border: 0px;
    width: 100%; /* Hace que el input ocupe todo el ancho disponible */
    box-sizing: border-box; /* Ajusta el tamaño del box para incluir el padding */
    color: #000;
    font-size: 16px;
    height: 33px;
    border-radius: 2px;
  }
  button {
    color: #000;
    background-color: #d9d9d9;
    border-radius: 0;
    width: 100%;
    height: 33px;
  }
}
.botones {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
  padding: 0px;
}
.fotografia {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;
  flex-direction: column;
  padding: 2px;

  img {
    height: 175px;
    width: 16%;
    border-style: solid;
    border-width: 0px;
    //border-color: #001f36;
    box-shadow: 0 0 15px rgba(0, 0, 0, 10);
  }
  .imp {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center;
    width: 20%;
    margin-top: 5px;
    font-size: 15px;

    h2 {
      margin-top: 10px;
      background-color: #c1c1c1;
      width: 60%;
      height: 25px;
      padding-left: 10px;
      padding-top: 3px;
      border-radius: 3px;
      font-size: 14px;
    }
    button {
      background-color: #003862;
      height: 25px;
      width: 5%;
      color: #fff;
      font-size: 10px;
      font-weight: normal;
      border-radius: 3px;
      margin-left: 12px;
      margin-top: 10px;
    }
  }
}
