.menu__li {
  li {
    margin: 0 !important;
    width: 100% !important;

    div {
      margin: 0 !important;
      width: 100% !important;
    }
  }
}
.ant-menu {
  &-item {
    border-style: solid !important;
    border-top-width: 1px;
    border-color: #c1c1c1 !important;
  }

  &-submenu {
    border-style: solid !important;
    border-top-width: 1px;
    border-color: #c1c1c1 !important;

    &-open {
      background-color: #003154 !important;
    }
  }

  &-sub {
    .ant-menu-submenu-inline {
      border-style: none !important;
    }

    .ant-menu-item-only-child {
      border-style: none !important;
    }
  }

  &-item-danger {
    background-color: #940303 !important;
    color: #c9c9c9 !important;
    border-style: solid !important;
    border-bottom-width: 1px;
    border-color: #c1c1c1 !important;
  }
}

.menu {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c3c3c398;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f14f;
  }
}

@media screen and (max-width: 110vh) {
  .menu {
    display: none;
  }
}
